.container {
  display: flex;
  border-right: 1px solid rgba(219, 217, 217, 0.746);
  position: relative;
}

.section-profile {
  display: flex;
  justify-content: space-between;
  align-self: start;
  padding: 0px 10px 5px 10px;
  border-bottom: 1px solid rgba(219, 217, 217, 0.746);
  border-bottom: 1px solid rgba(219, 217, 217, 0.746);

  .profile-bar {
    display: flex;
    align-items: center;
  }
  .column-top-bar {
    display: flex;
    flex-direction: column;
    line-height: 0;
  }
  .text-name-box {
    display: flex;
    flex-direction: column;
  }
  .text-name {
    text-align: start;
    font-weight: bold;
    color: #4e4765;
  }
  .text-profile {
    font-weight: normal;
    font-size: 12px;
  }
}

/* bottom container */
.typing-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  padding-top: 5px;
  .section-message-box {
    display: flex;

    align-self: flex-end;
    padding: 0px 10px 5px 10px;
    align-items: center;
  }
  .column-left {
    display: flex;
    gap: 20px;
  }
  .column-message-box {
    display: flex;
  }
  .column-emoji {
    display: flex;
    gap: 15px;
    position: relative;
  }
  .input {
    flex: 1;
    outline: none;
    border: none;
    background-color: rgba(40, 41, 43, 0.429);
    padding: 10px 26px 10px 26px;
    color: antiquewhite;
    border-radius: 12px;
  }

  .emoji-popup {
    position: absolute;
    bottom: 50px;
    left: 0px;
  }
}

/* middle */
.center {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  padding-left: 10px;

  .message {
    width: 80%;
    display: flex;
    gap: 15px;
    background-color: #34363d41;
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .message-own {
    display: flex;
    width: 80%;
    align-self: flex-end;
    background-color: #4f639a5d;
    padding: 10px;
    border-radius: 20px;
  }
}
