.section-login {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 1px solid red;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  input {
    outline: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.495);
    flex: 1;
    color: antiquewhite;
    padding: 4px 8px 4px 8px;
  }
}
