:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-image: url("../src/assets/bg.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
